body{
    background-color: whitesmoke;
}
#computer-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 1vmin 0% 1vmin 0%;
    text-align: center;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
}
#hamburgermenu{
    display: none;
    position: absolute;
    text-align: center;
    top: 0%;
    right: 1%;
    margin-top: 9vmin;
}
.navbaritem:link, .navbaritem:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
.navbaritem:hover, .navbaritem:active{
    background-color: rgb(255, 255, 0);
    color: black;
}
.images{
    margin: 0px 0px 0px 0px;
    padding: 5%;
    background-color: crimson;
    outline-style: solid;
    color: chartreuse;
}
.placerholdertext{
    font-size: x-large;
}
.bun{
    background-color: peru;
}
.meat{
    background-color: brown;
    color: whitesmoke;
}   
#icon {
    background-image: url(../img/icon.png);
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
#computer-article{
    display: flex;
}
#p1{
    background-color: burlywood;
    padding: 2%;
}
#p2{
    background-color: brown;
    color: white;
    padding: 2%;
}
#p3{
    background-color: burlywood;
    padding: 2%;
}
#p4{
    background-color: brown;
    color: white;
    padding: 2%;
}
#foot{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-large;
}
#burgers{
    margin: 1%  ;
}
#cheese{
    background-color: yellow;
}
@media only screen and (max-width: 400px){
    #computer-nav{
        display: none;
    }
    #icon{
        background: white;
        display: block;
    }
    #firstrowarticle{
        display: inline-block;
        margin: 3vmin 0% 0% 0%;
    }
    #computer-article{
        display: none;
    }
}
@media only screen and (min-width: 400px){
    #hamburgermenu{
        display: none;
    }
    #mobile-article{
        display: none;
    }
}
@media only screen and (max-width: 316px){
    #firstrowarticle{
        margin: 5vmin 0% 0% 0%;
    }
}
@media only screen and (max-width: 192px){
    #firstrowarticle{
        margin: 6vmin 0% 0% 0%;
    }
}
@media only screen and (max-width: 159px){
    #firstrowarticle{
        margin: 7vmin 0% 0% 0%;
    }
}
@media only screen and (max-width: 880px){
    #foot{
        display: block;
    }
}
@media only screen and (max-width: 440px){
    #foot{
        font-size: medium;
    }
}
