header{
    background-color: whitesmoke;
}
#computer-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 1vmin 0% 1vmin 0%;
    text-align: center;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hamburgermenu{
    display: none;
    text-align: right;
}
.navbaritem:link, .navbaritem:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
.navbaritem:hover, .navbaritem:active{
    background-color: rgb(255, 255, 0);
    color: black;
}
#icon {
    background-image: url(../img/icon.png);
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}
@media only screen and (max-width: 400px){
    #computer-nav{
        display: none;
    }
    #icon{
        background: white;
        display: block;
    }
}