header{
    background-color: whitesmoke;
}
#container-computer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 1vmin 0% 1vmin 0%;
    text-align: center;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hamburgermenu{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
}
#navbaritem1{
    grid-row: 1;
}
#navbaritem2{
    grid-row: 2;
}
#navbaritem3{
    grid-row: 3;
}
#navbaritem4{
    grid-row: 4;
}
#navbaritem1:link, #navbaritem1:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
#navbaritem2:link, #navbaritem2:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
#navbaritem3:link, #navbaritem3:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
#navbaritem4:link, #navbaritem4:visited{
    background-color: black;
    color: white;
    border-radius: 8%;
    padding: 10px 20px;
    text-decoration: none;
}
#navbaritem1:hover, #navbaritem1:active{
    background-color: rgb(110, 110, 110);
}
#navbaritem2:hover, #navbaritem2:active{
    background-color: rgb(110, 110, 110);
}
#navbaritem3:hover, #navbaritem3:active{
    background-color: rgb(110, 110, 110);
}
#navbaritem4:hover, #navbaritem4:active{
    background-color: rgb(110, 110, 110);
}
@media only screen and (max-width: 400px){
    #container-computer{
        display: none;
    }
}
@media only screen and (min-width: 400px){
    #hamburgermenu{
        display: none;
    }
}